# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyd
*.pyo
venv/
.env

# Database & Logs
*.db
*.log
error.txt
output.txt

# OS
.DS_Store
Thumbs.db
